
header {
    background-color: blueviolet;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a {
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 5px;
}


footer{
    background-color: blueviolet;
}
main img {
    width: 400px;
    height: 400px;
    float: bottom;
}
main{
    background-color: blue;
}
body{
    background-color: green;
}
